@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --popup-bg: white;
  --popup-border: #ccc;
}
